[submodule "dal"]
	path = dal
	url = https://github.com/Overcraft-Team/DAL.git
[submodule "placeholder"]
	path = placeholder
	url = https://github.com/Yggdrasil-World/Placeholder-Module.git
[submodule "localisation"]
	path = localisation
	url = https://github.com/Yggdrasil-World/Localisation-Module.git